table {
    border: 1px solid;
    background-color: rgb(35, 110, 35);
    color: rgb(255, 255, 255); /* betűszín */
    font-family: 'Courier New'; /* betűtípus */
    font-size: 30px; /* betűméret */
  }

  #keses {
    background-color: rgb(203, 172, 233);
  }

  .paratlan {
    background-color: rgb(118, 197, 131);
  }